@page "/"

@using ChessGame.Services
@inject GameService GameService
@inject PlayerService PlayerService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess Game</title>
    <link href="css/app.css" rel="stylesheet" />
    <link href="css/chessboard.css" rel="stylesheet" />
</head>
<body>
    <div class="main-layout">
        <div class="nav-menu">
            @Body
        </div>
        <div class="content px-4">
            @RenderBody()
        </div>
    </div>

    <script src="js/chessboard.js"></script>
    <script src="js/signalR.js"></script>
</body>
</html>