@page "/"

@using SnakeGame.Services
@inject GameService GameService

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Snake Game</h1>
            <div id="game-board">
                @if (GameService.GameStarted)
                {
                    <Game />
                }
                else
                {
                    <Index />
                }
            </div>
        </div>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        GameService.GameStartedChanged += StateHasChanged;
        base.OnInitialized();
    }

    public void Dispose()
    {
        GameService.GameStartedChanged -= StateHasChanged;
    }
}