* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#game-container {
    position: relative;
    height: 100%;
    width: 100%;
    background: url('../public/assets/images/map.png') no-repeat center center fixed;
    background-size: cover;
}

#tower-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.tower {
    position: absolute;
    background: url('../public/assets/images/tower.png') no-repeat center;
    background-size: contain;
    cursor: pointer;
}

#shop-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.shop-item {
    cursor: pointer;
}

#minion-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.minion {
    position: absolute;
    background: url('../public/assets/images/minion.png') no-repeat center;
    background-size: contain;
}

#upgrade-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.upgrade-item {
    cursor: pointer;
}